body{

    color: #333333 ;

}

main{
    align-items: center;
    justify-content: center;
}

.loginForm{
    border: 4px solid #d0bdf4;
    height: 450px;
    width: 400px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #e5eaf5 ;
    display: flex;
    flex-direction: column;
    align-items: center;gap: 60px;
}

.inputText{    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputText input[type="text"],input[type="password"]{    
    height: 45px;
    width: 350px;
    border-radius: 5px;
    border: none;
    background-color: #e5eaf5;
    font-size: 24px; 
    border: 2px solid#d0bdf4;
}
.inputText input[type="text"]:focus,input[type="password"]:focus{    
 
    background-color: #8458B3;
    font-weight: 700;
    color: #fff;
}


.loginForm input[type="submit"]{    
    height: 55px;
    width: 350px;
    border-radius: 5px;
    border: 2px solid#d0bdf4;
    background-color: #e5eaf5;
    font-size: 35px;
    font-weight: 500;    
    padding: 5px ;
    font-family: Arial, Helvetica, sans-serif;
}
.loginForm input[type="submit"]:hover{    

    transform: translateY(-5px);
    background-color: #8458B3;
    color: #fff;

}