/* ======= Màu nền chủ đạo ======= */
body {
  margin: 0;
  padding: 0;
  color: #333;
}
/* ======= Tiêu đề chính ======= */
h1 {
  color: #8458B3; /* Màu nhấn */
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
}

/* ======= Layout chính ======= */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}

/* ======= Khối bên phải ======= */
.right-content {
  flex: 1;
  /* background-color: #d0bdf4;  */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(132, 88, 179, 0.2);
}

/* ======= Khối bên trái ======= */
.left-content {
  flex: 1;
  /* background-color: #a0d2eb;*/
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(132, 88, 179, 0.2);
}

/* ======= Form ghi chú ======= */
input[type="text"],
textarea,
select,
input[type="date"] {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid #a28089;
  border-radius: 5px;
  font-size: 1em;
}
/* textarea */
textarea{

  height: 500px;       /* chiều cao cố định */
  resize: none;        /* ngăn không cho thay đổi kích thước */
  font-size: 1em;

}
/* ======= Label ======= */
label {
  font-weight: bold;
  color: #8458B3; /* Màu nhấn */
}

/* ======= Nút Submit ======= */
.submitBtn {
  background-color: #8458B3; /* Màu nhấn */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #a28089; /* Màu nhấn tinh tế */
}

/* ======= Calculator ======= */
.CalculatorDiv {
  margin-top: 30px;
}

.CalculatorDiv h3 {
  color: #8458B3;
  margin-bottom: 10px;
}

.display {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 10px;
  border: 2px solid #8458B3;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

/* ======= Nút máy tính ======= */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 1em;
  background-color: #8458B3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a28089;
}
