html,body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color:  #333333  ;
}
a{
    text-decoration: none;
    color: #333333;
}
ul{
    list-style: none;
    
}
/* header */
header{
    height: 15%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    font-size: 20px;
    color:  #333333 ;
    border-bottom: 2px solid #8458B3;
    gap: 10px;
}
.topLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

}

.topLogo a button{
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #d0bdf4;
    background-color: #8458B3 ;
    color: #fff;
}
.topLogo a button:hover,.topNav ul li a:hover{

    border: none;

    background-color: #a28089;

    font-weight: 600;
    transform: translateY(-3px);
}

.topNav ul{
    display: grid;
    grid-template-columns: repeat(6,18%);
    text-align: center;

}
.topNav ul li a{
    padding: 5px 25px;
    border-radius: 5px;
    background-color: #8458B3 ;
    color: #fff;
    font-weight: 500;

}




/*  */
footer{
    height: 5%;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
 
}