html,body {
   margin:0;
   padding:0;
   height:100%;
}
.head_contener {
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 10% 30% 40% 20%;


}

.menu {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.menu {
    margin-top: 20px;
}

.search {
    margin-top: 20px;
}

#pig {
    width: 50px;
    height: 50px;
}

footer {
    position:absolute;
    bottom:0;
    background-color: #979494;
    min-height: 50px;
    width:100%;

}

footer p {
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
form {
    background-color: #cadf7b;
    width: 20%;
    margin-left: 10px;    /* khoảng trống bên ngoài hộp (cách các hộp khác ra) */
    padding: 5px;        /* đệm bên trong hộp (nội dung không dính sát mép) */

    display: flex;
    flex-direction: column; /* xếp các phần tử theo cột */
    gap: 1px; /* khoảng cách đều nhau giữa các dòng */
}