html,body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:aliceblue;
    height: 100%;
}

.headPage{
    display: flex;
    width: 100%;


}
.head1{
    width: 75%;
    text-align: center;
}
.head2{
    width: 15%;
}
.head3{
    width: 10%;
}
#imgh{
    width: 100%;
}
/* header zone css done */
/* subhead css */
.subhead{
    display: grid;
    grid-template-columns: 60% 20% 20%;
    height: 20%;
    text-align: center;
}

.formzone{
    display: flex;
    width: 70%;
    margin: auto;
    border: gray solid 1px;
    background-color: #fff;
    row-gap: 20px;

}
.formzone>div>div{
    padding: 10px;
}
.labelzone, .inputzone{
    width: 50%;
    padding: 10px;
    
}
.categoryzone{
   display: flex;

}
.tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: gainsboro;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Done css form */
.addbtn, .submitzone,.txtbtn{
    margin: auto;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;

}
#addbtn{
    width: 100%;
}

/* table css */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}
th {
  background-color: #04AA6D;
  color: white;
}
td {
  color: black;
}

/* summary css */
.summaryzone{
    display: flex;
    width: 100%;
    background-color: #fff;
}
.sum1 , .sum2{
    width: 50%;
    margin-left: 30px;

}
